




        <section class="feedsection">
          <div class="container">
            <div class="feedbackground">
              <div class="row">
                  <div class="col-lg-6">

                    <!-- new post -->
                    <div class="card text-center shadow mb-5 bg-body rounded" style="margin-left: 230px; margin-top: 50px; height: 230px; width: 600px;">
                      <div class="card-header" style="margin-top: 6px; margin-left: 6px; margin-right: 6px;">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Blog</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Image</a>
                          </li>
                          <!-- <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                          </li> -->
                        </ul>
                      </div>
                      <div class="card-body" id="postbtn">
                        <textarea name="" id="" cols="72" rows="4" style="border-radius: 19px 19px 0 0;" placeholder="What's on your mind?"></textarea>
                        <div class="d-grid gap-2">
                          <button class="btn btn-primary" type="button"><a href="{% url 'post' %}" style="text-decoration:none; color:white" >Create Post</a></button>
                        </div>
                      </div>
                    </div>
                    <!-- End of new post -->

                    <!-- popup new post -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create a post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="d-flex bd-highlight">
                              <div class="img_cont">
                                  <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                              </div>
                              <div class="user_info" style="margin-left: -10px;">
                                  <span>@username</span>
                                  <p>4 February at 12:15</p>

                              </div>
                            </div>

                            <textarea class="card-text" name="" id="" cols="60" rows="4" style="border-radius: 19px 19px 0 0;" placeholder="What's on your mind?"></textarea>

                            <hr>
                            <label for="uploadfile"> Add photo</label><br><br>
                            <input type="file" name="uploadfile">

                            <hr>

                          </div>
                          <div class="modal-body" id="postbtn2">
                            <div class="d-grid gap-2">
                              <button class="btn btn-primary" type="button">Post</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of popup new post -->


                    <!-- post -->
                      {% for i in post %}
                          <div class="card1 shadow p-3 mb-5 bg-body rounded " style="width: 30rem;">
                                <div class="d-flex bd-highlight">
                                  <div class="img_cont">

                                      <img src="https://www.salisburyut.com/wp-content/uploads/2020/09/avatar-1-1536x1536.jpeg" class="rounded-circle user_img" style="object-fit:cover;">

                                      <!-- <span class="online_icon"></span> -->
                                  </div>
                                  <div class="user_info" style="margin-left: -10px;">
                                      <span><a href="/peopleprofile/{{i.creator}}" style="text-decoration:none;font-weight: 450; color:black">@{{i.creator}}</a></span>
                                      <p>4 February at 12:15</p>
                                  </div>
                                </div>

                                <p class="card-text">
                                    {{i.description}}
                                </p>
                              <img src="{{i.pimage.url}}" alt="" style="width:450px;">
                                {{i.photo.url}}
                              <div class="card-body">
                                <hr>

                                <a href="/upvote/{{i.postid}}" type="button" class="btn btn-outline-primary position-relative" style="width:32%"><i class="bi bi-caret-up"></i>

                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.upvote}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                                <a href="/downvote/{{i.postid}}" type="button" class="btn btn-outline-danger position-relative" style="margin-left: 0px; width:32%"><i class="bi bi-caret-down"></i>

                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.downvote}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                                <a href="/comments/{{i.postid}}" type="button" class="btn btn-outline-warning position-relative" style="margin-left: 0px; width:32%">
                                    comment
                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.commentcount}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                              </div>
                          </div>
                      {% endfor %}
                      <!-- postend -->

                  </div>

                  <div class="col-lg-6">
                      {% include 'announcementlist.html' %}
                  </div>
              </div>
            </div>
          </div>
        </section>







<!--        <hr>-->

<!--        {% for i in post %}-->
<!--        <div style="margin-left:50px">-->
<!--&lt;!&ndash;            <a href="/update/{{i.postid}}">Edit</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="/delete/{{i.postid}}">Delete</a>&ndash;&gt;-->
<!--            <br>-->
<!--            <br>-->
<!--            <b><span><a href="/peopleprofile/{{i.creator}}">@{{i.creator}}</a></span></b>-->
<!--            <br>-->
<!--            <br>-->
<!--            {{i.description}}-->
<!--            <br>-->
<!--            <br>-->
<!--            <img src="{{i.pimage.url}}" alt="" style="width:540px;">-->
<!--            {{i.photo.url}}-->
<!--            <br>-->
<!--            &nbsp; &nbsp;-->
<!--            {{i.upvote}}-->
<!--            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
<!--            {{i.downvote}}-->
<!--            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
<!--            {{i.commentcount}}-->
<!--            <br>-->
<!--            <a href="/upvote/{{i.postid}}">Upvote</a>-->
<!--            <a href="/downvote/{{i.postid}}">Downvote</a>-->
<!--            <a href="/comments/{{i.postid}}">Comment</a>-->
<!--            <hr>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->









