{% extends 'userbase.html' %}

{% block content %}



<body>

<style>
    a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
</style>

<div class="home-container">

    <div>
        {% include 'sidebar.html' %}
    </div>

    <div class="row">
      <div class="col-lg-6" style=" margin-top:100px; ">
          <div>
              <h6 class="display-6" style=" margin-left:290px; margin-bottom:40px;margin-top:-30px;">Messages</h6>
            </div>
          <table class="table table-hover" style="margin-left:290px;background-color:white">
              {% for i in mlrec %}
              <tr>
                  <td>
                      <img src="{{i.photo.url}}" alt="" class="rounded-circle user_img" style="object-fit:cover; margin-right:10px;">
                      <a href="{% url 'messagepost' i.uid i.username %}" >@{{i.username}}</a>
                  </td>
              </tr>
              {% endfor %}
          </table>
<!--          {% for i in mlrec %}-->
<!--          <div style="margin-left:500px;">-->
<!--              <p class="text-muted"><a href="{% url 'messagepost' i.uid i.username %}">{{i.username}}</a></p>-->
<!--          </div>-->
<!--          {% endfor %}-->
      </div>


      <div class="col-lg-6" style=" margin-left:-30px; margin-top: 45px;">
          {% include 'announcementlist.html' %}
      </div>
    </div>

</div>
</body>
{% endblock content %}
