{% extends 'userbase.html' %}


{% block content %}

<style>
a:link{
  text-decoration: none !important;
}
</style>


    <div>
        {% include 'sidebar.html' %}
    </div>


    {% for i in pfrec %}
    <div class="profileabout">
            <div class="row">
                <div class="col-lg-6">
                  <div class="profileinfo">
                    <div class="card7 border-success mb-3 text-left shadow p-3 mb-5 bg-body rounded" style="max-width: 40rem;">
                      <div  class="card-header bg-transparent border-success"><h4 class="display-6">Profile</h4></div>
                      <div class="card-body text-success">
                        <br>
                        <h5 class="card-title">About</h5>
                        <p class="card-text">

                          <table class="table table-borderless">

                              <tr>
                                  <td>
                                      Name    :
                                  </td>
                                  <td>
                                      @{{i.username}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      First Name    :
                                  </td>
                                  <td>
                                      {{i.fname}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Last Name    :
                                  </td>
                                  <td>
                                      {{i.lname}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      House Number    :
                                  </td>
                                  <td>
                                      {{i.house_number}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      House Name 	    :
                                  </td>
                                  <td>
                                      {{i.house_name}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Panchayath	:
                                  </td>
                                  <td>
                                      {{i.panchayath}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Mobile Number	:
                                  </td>
                                  <td>
                                      {{i.phone_number}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Email 			:
                                  </td>
                                  <td>
                                      {{i.email}}
                                  </td>
                              </tr>
                          </table>



                        </p>
                        <br>
                        <hr>
                        <h5 class="card-title">Basic Information</h5>
                        <p class="card-text">
                          <table class="table table-borderless">
                              <tr>
                                  <td>
                                      Gender			:
                                  </td>
                                  <td>
                                      Male
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      DOB				:
                                  </td>
                                  <td>
                                      29/05/2001
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Work			:
                                  </td>
                                  <td>
                                      Job Name
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      Education		:
                                  </td>
                                  <td>
                                      Qualification
                                  </td>
                              </tr>
                          </table>


                        </p>
                        <br>
                        <hr>
                      </div>
                      <!-- <div class="card-footer bg-transparent border-success">Footer</div> -->
                    </div>

                  </div>
                    <div  class="card-header bg-transparent border-success" style="width:480px; height:80px"><h6 class="display-6">Your Posts</h6></div>
                    {% for i in post %}
                    <div style="margin-right:555px">
                        <div class="card1 shadow p-3 mb-5 bg-body rounded " style="width: 30rem;">
                                <a style="float:right" class="link-secondary" href="/delete/{{i.postid}}">delete</a>
                                <a style="float:right" class="link-secondary" href="/update/{{i.postid}}">edit&nbsp;</a>
                                <div class="d-flex bd-highlight">
                                  <div class="img_cont">
                                      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                      <!-- <span class="online_icon"></span> -->
                                  </div>

                                    <div class="user_info" style="margin-left: -10px;">
                                        <span><a href="/peopleprofile/{{i.creator}}"
                                                 style="text-decoration:none; color:black;">@{{i.creator}}</a></span>
                                        <p>4 February at 12:15</p>
                                    </div>

                                </div>

                                <p class="card-text">
                                    {{i.description}}
                                </p>
                              <img src="{{i.pimage.url}}" alt="" style="width:450px;">
                                {{i.photo.url}}
                              <div class="card-body">
                                <hr>

                                <a href="/upvote/{{i.postid}}" type="button" class="btn btn-outline-primary position-relative" style="width:32%;"><i class="bi bi-caret-up"></i>

                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.upvote}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                                <a href="/downvote/{{i.postid}}" type="button" class="btn btn-outline-danger position-relative" style="width:32%"><i class="bi bi-caret-down"></i>

                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.downvote}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                                <a href="/comments/{{i.postid}}" type="button" class="btn btn-outline-warning position-relative" style="width:32%">
                                    comment
                                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{i.commentcount}}
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </a>

                              </div>
                          </div>
                    </div>

                      {% endfor %}

                </div>






                <div class="col-lg-6">
                    <div class="profilecardimg">
                        <div class="card shadow" style="border-radius: 20px !important;">
                            <div class="card-body">
                              <img src="{{i.photo.url}}" alt=""
                                style="width:300px; height:300px;
                                border-radius: 100%; object-fit:cover;">
                              <br><br>
                              <h6 class="card-subtitle mb-2 text-muted">status</h6>
                              <p class="card-text">Life may not offer you the same chance twice</p>
                              <div class="d-grid gap-2 mx-auto">
                                <a class="btn btn-outline-primary" href="/editprofile/{{i.uid}}">Edit Profile</a>
                                <button class="btn btn-outline-dark" type="button">Remove profile picture</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    {% endfor %}







<!--    {% for i in pfrec %}-->
<!--    <div>-->
<!--        <center>-->
<!--            <br>-->
<!--            <h2>Profile</h2>-->
<!--            <b>-->
<!--          <div>-->
<!--              <br>-->
<!--              @{{i.username}}-->
<!--              <br><br>-->
<!--              {{i.panchayath}}-->
<!--              <br><br>-->
<!--              {{i.fname}} &nbsp; {{i.lname}}-->
<!--              <br><br>-->
<!--              {{i.email}}-->
<!--              <br><br>-->
<!--              {{i.phone_number}}-->
<!--              <br><br>-->
<!--              {{i.house_name}}-->
<!--              <br><br>-->
<!--              {{i.house_number}}-->
<!--              <br><br>-->
<!--              {{i.gender}}-->

<!--          </div>-->
<!--        </b>-->
<!--        </center>-->
<!--        <br>-->
<!--        <div>-->
<!--            <div>-->
<!--                <hr>-->
<!--                <h3 style="margin-left:70px">Your Posts</h3>-->
<!--                <hr>-->

<!--                {% for i in post %}-->
<!--                <div style="margin-left:50px">-->
<!--                    <a href="/update/{{i.postid}}">Edit</a>-->
<!--                    <a href="/delete/{{i.postid}}">Delete</a>-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    <b><span>@{{i.creator}}</span></b>-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    {{i.description}}-->
<!--                    <br>-->
<!--                    <br>-->
<!--                    <img src="{{i.pimage.url}}" alt="" style="width:540px;">-->
<!--                    {{i.photo.url}}-->
<!--                    <br>-->
<!--                    &nbsp; &nbsp;-->
<!--                    {{i.upvote}}-->
<!--                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
<!--                    {{i.downvote}}-->
<!--                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
<!--                    {{i.commentcount}}-->
<!--                    <br>-->
<!--                    <a href="/upvote/{{i.postid}}">Upvote</a>-->
<!--                    <a href="/downvote/{{i.postid}}">Downvote</a>-->
<!--                    <a href="/comments/{{i.postid}}">Comment</a>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div>-->
<!--        <center>-->
<!--            <br> <br>-->
<!--            <img src="{{i.photo.url}}" alt="" style="width:300px; height:300px;-->
<!--            border-radius: 100%; object-fit:cover;"/>-->
<!--        <br><br>-->
<!--            <h3>{{i.fname}} &nbsp; {{i.lname}}</h3>-->
<!--            <br>-->
<!--              <button><a href="/editprofile/{{i.uid}}">Edit Profile</a></button>-->
<!--        </center>-->

<!--    </div>-->
<!--    {% endfor %}-->

<!--</div>-->

{% endblock content %}