

<section class="sidebarleft">

      <header id="header">
        <div class="d-flex flex-column ">

          {% for i in rec %}
          <div class="profile">
            <img src="{{i.photo.url}}" alt="" class="img-fluid rounded-circle" style="object-fit:cover;">
            <h2 class="text-light"><a href="/profiledept/">{{i.department}}</a></h2>
            <div class="social-links mt-3 text-center">
              <a href="#" class="twitter"><i class="bi bi-facebook"></i></a>
              <a href="#" class="facebook"><i class="bi bi-twitter"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
            {% endfor %}
          </div>

          <nav id="navbar" class="nav-menu navbar ">
            <ul>
              <li><a href="{% url 'displaydept' %}" class="nav-link scrollto active font-weight-bold" style="padding-left: 35px;"><i class="bx bx-home" ></i> <span>HOME</span></a></li>
              <li><a href="{% url 'profiledept' %}" class="nav-link scrollto"><i class="bx bx-file-blank" style="padding-left: 15px;"></i> <span>PROFILE</span></a></li>
              <li><a href="{% url 'people' %}" class="nav-link scrollto"><i class="bx bx-book-content" style="padding-left: 20px;"></i> <span>PEOPLE</span></a></li>
              <li><a href="{% url 'complaintlist' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>COMPLAINTS</span></a></li>
              <li><a href="{% url 'settingsdept' %}" class="nav-link scrollto"><i class="bx bx-envelope" style="padding-left: 14px;"></i> <span>SETTINGS</span></a></li>
            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </header><!-- End Header -->

    </section>








<!--<div>-->
<!--        <center>-->

<!--                <div>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        {% for i in rec %}-->
<!--                        <a href="/profiledept/"><img src="{{i.photo.url}}" alt="" style="width:200px; height:200px; object-fit:cover;-->
<!--                        border-radius: 100%; border-width: 4px; border-style: solid; border-color:gray"/></a>-->
<!--                        <br>-->
<!--                        <h3>{{i.department}}</h3>-->
<!--                        {% endfor %}-->
<!--                </div>-->

<!--                <div>-->
<!--                        <hr>-->
<!--                        <a href="{% url 'displaydept' %}">Home</a>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <a href="{% url 'profiledept' %}">Profile</a>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <a href="{% url 'people' %}">People</a>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <a href="{% url 'complaintlist' %}">Complaints</a>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <a href="{% url 'settingsdept' %}">Settings</a>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <a href="{% url 'logout' %}">Logout</a>-->
<!--                </div>-->


<!--        </center>-->
<!--    </div>-->