{% extends 'adminbase.html' %}

<body>
{% block content %}
<center>
    <table border="1" class="table" style="width:80%; margin-top: 30px;">
    <th>Department ID</th>
    <th>Image</th>
    <th>Username</th>
    <th>Email</th>
    <th>Department</th>
    <th>Panchayath</th>
    <th>district</th>
    <th>state</th>
    <th>country</th>

    {% for i in object_list %}
  <tr>
      <td>{{i.did}}</td>
      <td><img src="{{i.photo.url}}" alt="" style="width:100px;height:100px; object-fit: cover;"></td>
      <td>{{i.username}}</td>
      <td>{{i.email}}</td>
      <td>{{i.department}}</td>
      <td>{{i.panchayath}}</td>
      <td>{{i.district}}</td>
      <td>{{i.state}}</td>
      <td>{{i.country}}</td>
      <td><a href="/approval/{{i.did}}">Approve</a></td>
      <td><a href="/rejection/{{i.did}}">Reject</a></td>
  </tr>
    {% endfor %}

</table>
</center>

{% endblock content %}
</body>
</html>